.mat-form-field-disabled {
    display: none;
}

.top-def{
    padding:4px;
}

.top-def-header{
    display: flex;
    flex-direction: row;
}

.top-def-header h2{
    font-size: 1.5em;
    padding:0;
    margin:0;
}

.meaning{
    padding:4px;
}

.meaning-header{
    display: flex;
    flex-direction: row;
}

.meaning-header h2{
    font-size: 1.2em;
    padding:0;
    margin:0;
}

.def{
    display: flex;
    flex-direction: row;
    /* padding:4px;
    margin:4px; */
    flex-wrap: wrap;
}

.def-gutter{
    border: 1px red solid;
    display: none;
}

.def-body{
    flex: 1;
    overflow: visible;
    white-space: wrap;
    border-top: 1px gray solid;
    margin-left: 10px;
    margin-bottom: 4px;
    /* flex-wrap: auto; */
}

.def-part div:first-child{
    font-size: 0.8em;
    font-style: italic;
    color: gray;
}


.editing-hide {
    background-color: blueviolet;
    display: none;
}

.editor-field-full-width {
    width: 100%;
} 

.editor-add-item{
    display:flex;
    flex-direction: row;
}

.editor-add-item div{
    vertical-align: middle;
}

.editor-label{
    opacity: 0.5;
    font-size:0.8em;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.line-editor-attributes{
    display:flex;
    flex-basis: 100%; 
}

.mdc-list-item__secondary-text::before {
    display:none;
}


.mdc-card {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: left;
    padding:4px;
    margin-bottom:8px;
    /* border-radius: 1px !important; */
    box-sizing: border-box;
}

/* 
.editor-add-item div{
    display:flex;
    vertical-align: middle;
    border: 1px red dotted;
    flex-direction: row;

} */



/* 
.mdc-list-item__secondary-text::before {
    display: inline-block;
    width: 0;
    height: 1em;
    content: "ex:";
    margin-right: 32px;
    vertical-align: 0;
    font-style: italic;
}
 */


/* 
button{
    height:24px !important;
    width:24px !important;
    font-size:24px !important;
}

button .mat-icon{
    height: 24px !important;
    width: 24px !important;
    top:0;
    left:0;
    position:absolute;
}


span .mat-mdc-button-touch-target {
    border: 2px green solid !important;
    height: 24px !important;
    width: 24px !important;
    top:0;
    left:0;
    position:absolute;
    transform: translate(-50%, -50%);
} */

/* .mat-mdc-icon-button  */


/* .def-row {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.def-row-number{
    padding:8px;
}

.def-row-content{
    flex: 1;
}

.card-label{
    text-transform: none;
}

/* .def-row div{
    
    flex-shrink: ;
    border:1px red dotted;
} */
/* 
.example-full-width {
    width: 100%;
    height:60px;
    max-height:60px;
} */


