

<section>
  <form [formGroup]="viewSelectForm">
    <mat-button-toggle-group formControlName = "view" aria-label="View Style">
        <mat-button-toggle
        *ngFor="let view of ListViews;" 
        [value]="view">{{view}} 
        </mat-button-toggle>
    </mat-button-toggle-group>
  </form>
  <!-- matTooltip="{{def.id}}"  -->
  <div [style.display]="['none','block'][+(currentView === 'timeline')]">
    
   

    <mat-card>
      <div class="time-container">

        <div #timeSeriesOne id="column-one" class="time-column">      
          <div id="bounds_marker" class="bounds master">what</div>
          <div id="par_marker" class="marker"></div>
          <div class="time-row" *ngFor="let i = index; let state of stateGroups" [id]="'ts'+i"
          (click)="getProductComs($event, state, i)">
            
            <div [style.height]="(state.delta_ms+24)+'px'">
              <div class="time-index">
                <strong>{{i}}</strong>
                {{state.delta_str}}
              </div>
              <svg class="time-marker" viewBox="0 0 32 32" >
                <polygon class="svg-hexagon" points="4.4,9.3 4.4,22.7 16,29.4 27.6,22.7 27.6,9.3 16,2.6 "/>
              </svg>
            </div>
            <svg class="time-curve" viewBox="0 0 100 500">
              <g><path class="path" d=""/></g>
            </svg>
            <div>
              <div class="time-label">
                {{state.product.name}}
              </div>
            </div>
          


          </div>
        </div>

        

        <div #timeSeries class="time-column spec" watchDomTree (dom-changed)="handleDomChange($event)">   
          
          <div id="chi_marker" class="marker"></div>   
          <!-- //[class]="'time-row time-row-spec' + (state.coms ? ' time-row-open':'')"  + (state.coms ? ' time-row-open':'')-->
          <!-- [style.top]="state.coms_position+'px'"  -->
          <div *ngFor="let i = index; let state of stateGroups" [id]="'s'+i" data-bounds="null" [class]="'time-row-spec'" KCond>
            
            <span *ngIf="state.coms"><strong>{{ state.product.name.toUpperCase() }}</strong>&nbsp;{{ state.coms['time'] }}</span>
            <div *ngIf="state.coms">
              <div *ngFor="let i = index; let child of state.product.children">
                —&gt;&nbsp;{{ child[0] }}<span>.({{child[1]}})</span> 
              </div>
              <div *ngFor="let i = index; let parent of state.product.parents">
                &lt;—&nbsp;{{ parent[0] }}<span>.({{parent[1]}})</span>
              </div>


            
              <div class="phrases" *ngIf="state.coms['phrases'].length">
                <!-- <span>{{i}}&nbsp;"{{state.product.name}}" Phrases:</span> -->
                <div *ngFor="let i = index; let phrase of state.coms['phrases']">
                  <app-coms-solo [com]="phrase"></app-coms-solo>
                </div>
              </div>
              <div class="system" *ngIf="state.coms['system'].length">
                <!-- <span>System:</span> -->
                <div *ngFor="let i = index; let phrase of state.coms['system']">
                  <app-coms-solo [com]="phrase"></app-coms-solo>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </mat-card>




  </div>

  <table [style.visibility]="['collapse','visible'][+(currentView === 'table')]" class="product-list-table mat-elevation-z4" multiTemplateDataRows mat-table matSortActive="date" matSortDirection="desc" [dataSource]="inventoryDataArray" matSort>
    <!-- matSortDisableClear -->
    <!-- Number Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº </th>
        <td mat-cell *matCellDef="let element; let gi = renderIndex"> {{gi/2}}:{{inventoryDataArray.data.length}}:{{element.int}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element" data-label="Name"> {{element.name}} </td>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'MM/dd/yyyy hha'}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [checked]="element.active" (click)="$event.stopPropagation(); setActive(element); " color="primary">active
            </mat-slide-toggle>
        </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Suppress </th>
        <td mat-cell *matCellDef="let element"> 
            <!-- <a class="delete" (click)="delete(element._id)">Delete</a> -->
            <button mat-icon-button small class="delete" (click)="$event.stopPropagation(); delete(element); " aria-label="Delete completely">
                <mat-icon>delete_forever</mat-icon>
              </button>
        </td>
    </ng-container>


    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row">
          <mat-icon *ngIf="expandedElement != element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement == element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element;" [attr.colspan]="displayedColumnsWithExpand.length">
        <div class="example-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <!-- <div class="example-element-diagram"> -->
            <!-- <div class="example-element-position"> {{element.position}} </div>
            <div class="example-element-symbol"> {{element.symbol}} </div>
            <div class="example-element-name"> {{element.name}} </div>
            <div class="example-element-weight"> {{element.weight}} </div> -->
            <!-- expanded -->
          <!-- </div> -->
          <div class="example-element-description">
            {{element.name}}
            <span class="example-element-description-attribution"> -- Wikipedia </span>
          </div>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsWithExpand; let i = index;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element;
        setProductSelection(expandedElement); $event.stopPropagation(); ">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let i = index;" class="example-detail-row" [ngClass]="{'new-row': row.active == false }"></tr>

</table>

</section>