/* .delete {
    color: red !important;
    font-weight: bold;
    cursor: pointer !important;
}

table {
width: 100%;
}

tr.example-detail-row {
height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

.example-element-row td {
border-bottom-width: 0;
}

.example-element-detail {
overflow: hidden;
display: flex;
}

.example-element-diagram {
min-width: 80px;
border: 2px solid black;
padding: 8px;
font-weight: lighter;
margin: 8px 0;
height: 104px;
}

.example-element-symbol {
font-weight: bold;
font-size: 40px;
line-height: normal;
}

.example-element-description {
padding: 16px;
}

.example-element-description-attribution {
opacity: 0.5;
}


.new-row td{
    background-color: lightgray;
}


.mdc-card, .mat-mdc-card {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: left;
    padding:4px;
    margin-bottom:8px;
    box-sizing: border-box;
}



*/


:host {
    --lite: rgba(0, 0, 0, 0.3);
    --med-lite: rgba(0, 0, 0, 0.6);
    --bg: rgba(0,0,0,0.08);
    --bg-dark: rgba(0,0,0,0.1);
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

/* .example-expanded-row{
    display:block;
    flex:none;
} */

.example-element-row td {
    border-bottom-width: 0;
    background: none;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.mdc-data-table__row{
    height:auto !important;
} 

.product-list-table, .mat-mdc-table {
    width: 100%;
    background: none;
    box-sizing: border-box;
    border-radius: 4px !important;
}

.mdc-card, .mat-mdc-card {
    align-items: left;
    padding:4px;
    margin-bottom:8px;
    box-sizing: border-box;
}



.time-container{
    box-sizing: border-box;
    display: flex;
}

.time-column{
    max-width: fit-content;
    position: relative;
}

.time-column.spec{
    flex: 1;
    width: fit-content;
    overflow: visible;
    /* border: 2px blue solid; */
}

.time-row-open{
    background: var(--bg);
    left:120px;
}

/* .time-row-open.relevant{
    background: var(--bg);
    left:120px;
} */

.relevant{
    background:aqua;
}

.time-row-open .phrases{
    /* background: var(--bg); */
    margin: 4px;
}


.system-wrapper{
    box-sizing: border-box;
    margin-bottom: 6px; 
    /* border: 2px blue solid; */
}

.system{
    box-sizing: border-box;
    /* border: 2px blue solid; */
    background:var(--bg);
    border-radius: 8px;
    
    /* position:relative; */
    /* display: block;

    */
    /* transform: scale(0.7);
    transform-origin: top left; */
    /* margin: 0 calc((-300px * (1 - 0.7)) / 2) calc(-150px * (1 - 0.7)); */
}


.time-row-open span{
    font-size:0.6em;
}

.time-row-open div:not(:only-child):not(:last-child){
    border-bottom: 1px rgba(0,0,0,0.25) solid;
}



.time-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 4px;
    vertical-align: bottom;
    position: relative;
    height: auto;
    border-radius: 4px;
    
}

.time-row:hover{
    background: var(--bg);
    cursor: pointer;
}

.time-row-select{
    border-radius: 4px 0 0 4px;
    background: var(--bg);
}

.time-row-spec{
    display: block;
    position: absolute !important;
    width: fit-content;
    box-sizing: border-box;
    width:600px;
}

.time-row-spec:not(.time-row-open){
    display:none;
    /* height:8px; */
}

.time-row:not(.time-row-select) .time-curve{
    display:none;
}

/* .definitive{
    background-color: rgb(40, 217, 233);
} */

.time-row div{
    /* border: 1px rgba(0,0,0,0.1) solid; */
    box-sizing: border-box;
}

.time-row>div:first-child{
    position: relative;
    min-width: 32px;
    border-right: 2px rgba(0,0,0,0.25) solid;
}

.time-row>div:last-child{
    flex: 1;
    padding-left:8px;
}

.time-index{
    position: absolute; 
    /* background-color: pink; */
    font-size: 0.6em;
    top: 0;
}

.time-label{
    position: relative; 
    top: 0;
}


.time-marker{
    width: 16px;
    height: 16px;
    position: absolute;
    top:-8px;
    right:-8px;

    /* position: relative;
    left: 50%; */
    /* transform: translateX(-50%); */
    /* -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%); */
}


.time-curve{
    position:absolute;
    /* border: 4px rgba(0,0,0,0.25) solid;
    box-sizing: border-box; */
}

.path{
    /* stroke: yellowgreen; */
    fill: var(--bg);
    /* stroke-width:4;
    stroke-miterlimit:10; */
}

.svg-hexagon{
    fill:#FFFFFF;
    stroke: rgba(0,0,0,0.25);
    stroke-width:2;
    stroke-miterlimit:10;
}


.marker{
    display:none;
    width:100px;
    height:3px;
    background:red;
    position:absolute;
    z-index: 10;
}

.bounds{
    display:none;
    border: 8px red solid;
    box-sizing: border-box;
    opacity: 0.25;
    position:absolute;
    z-index: 10;
    width:100px;
    top:0;
    height:auto;
    font-size: 3em;
    color: red;
}

.example-element-detail{
    display: block;
    margin:0;
    padding:0;
}

.productDefineArea{
    display:block;
    /* border: 1px red solid; */
    box-sizing: border-box;
    width:100%;
}