<section>
<div class="table-container mat-elevation-z4">
<table multiTemplateDataRows mat-table matSortActive="date" matSortDirection="desc" [dataSource]="inventoryDataArray" matSort>
    <!-- matSortDisableClear -->
    <!-- Number Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº </th>
        <td mat-cell *matCellDef="let element; let gi = renderIndex"> {{gi/2}}:{{inventoryDataArray.data.length}}:{{element.int}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element" data-label="Name"> {{element.name}} </td>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'MM/dd/yyyy hha'}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [checked]="element.active" (click)="$event.stopPropagation(); setActive(element); " color="primary">active
            </mat-slide-toggle>
        </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Suppress </th>
        <td mat-cell *matCellDef="let element"> 
            <!-- <a class="delete" (click)="delete(element._id)">Delete</a> -->
            <button mat-icon-button small class="delete" (click)="$event.stopPropagation(); delete(element); " aria-label="Delete completely">
                <mat-icon>delete_forever</mat-icon>
              </button>
        </td>
    </ng-container>


    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row">
          <mat-icon *ngIf="expandedElement != element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement == element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element;" [attr.colspan]="displayedColumnsWithExpand.length">
        <div class="example-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <!-- <div class="example-element-diagram"> -->
            <!-- <div class="example-element-position"> {{element.position}} </div>
            <div class="example-element-symbol"> {{element.symbol}} </div>
            <div class="example-element-name"> {{element.name}} </div>
            <div class="example-element-weight"> {{element.weight}} </div> -->
            <!-- expanded -->
          <!-- </div> -->
          <div class="example-element-description">
            {{element.name}}
            <span class="example-element-description-attribution"> -- Wikipedia </span>
          </div>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsWithExpand; let i = index;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element;
        setProductSelection(expandedElement); $event.stopPropagation(); ">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let i = index;" class="example-detail-row" [ngClass]="{'new-row': row.active == false }"></tr>


    <!-- (click)="expandedElement = expandedElement === element ? null : element; 
    setProductSelection(element, expandedElement === element); $event.stopPropagation();" -->

      <!-- (click)="this.expandedElement = this.expandedElement === element ? null : element; 
          setProductSelection(element, this.expandedElement === element); $event.stopPropagation()" -->

      <!-- (click)="this.expandedElement = this.expandedElement === element ? null : element"> -->
    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <!-- <tr mat-row *matRowDef="let row;" [disabled]="!row.active"></tr> -->
    <!-- <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" [ngClass]="{'new-row': row.active == false }"></tr> -->
</table>
</div>
</section>