<!-- <div class="create-form-container mat-elevation-z4"> -->
<mat-card>
    <form class="form" [formGroup]="productCreateForm">
        <div class="fields">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput required formControlName="name" (change)="nameChanged($event)">
                    <mat-hint>Language part</mat-hint>
                </mat-form-field>
            </div>
            <div *ngIf="formState == 'new'">
                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select matSelect required formControlName="brand" multiple>
                        <mat-option *ngFor="let part of parts_of_speech_list" [value]="part.val">{{ part.txt }}(.{{part.val}})</mat-option>
                    </mat-select>
                    <mat-hint>Language part type</mat-hint>
                </mat-form-field>
            </div>
            <div *ngIf="formState == 'new'" >
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput required [matDatepicker]="picker" [value]="now" formControlName="date" >
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div *ngIf="formState == 'new'" class="form-div">
                <mat-slide-toggle [checked]="true" color="primary" formControlName="active" >active
                </mat-slide-toggle>
            </div>
            <div class="form-div">
                <button mat-stroked-button [disabled]="!productCreateForm.valid" (click)="onSubmit()">{{ postMethodState }}</button>
            </div>
            <div class="form-div">
                <button mat-stroked-button (click)="reset()"><mat-icon color="primary">block</mat-icon>reset</button>
            </div>
        </div>
        <div>
            <mat-card *ngIf="error" role="alert">
                <div>
                    <button mat-icon-button class="delete" (click)="hideError()" aria-label="Delete completely">
                        <mat-icon color="warn">block</mat-icon>
                    </button>
                </div>
                <div><div class="card-label error"><strong>Warning! </strong> {{ errorMessage }}</div></div>
            </mat-card>
            <mat-card *ngIf="notify" role="alert">
                <div>
                    <button mat-icon-button class="delete" (click)="hideNotify()" aria-label="Here's a message">
                        <mat-icon color="primary">message</mat-icon>
                    </button>
                </div>
                <div><div class="card-label notify">{{ notifyMessage }}</div></div>
            </mat-card>
        </div>
    </form>

</mat-card>
