<section [style.display]="['none','block'][+(coms_new)]">
    <mat-card>
        <div class="coms-list-left">
            <button mat-icon-button class="delete" (click)="hideComs()" aria-label="coms_obj.text">
                <mat-icon color="primary">close</mat-icon>
            </button>
        </div>
        <div class="coms-list-center">
            <div *ngFor="let i = index; let com of coms_obj" class="coms-container">
                <!-- import -->
                <app-coms-solo [com]="com"></app-coms-solo>
            </div>
        </div>
        <div class="coms-list-right">
            <button mat-icon-button (click)="showComsHistory(coms_obj.length === 1); $event.preventDefault();" aria-label="expand row">
                <mat-icon *ngIf="coms_obj.length === 1">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="coms_obj.length > 1">keyboard_arrow_up</mat-icon>
            </button>
        </div>
    </mat-card>
</section>